mat-card {
  width: 800px;
  margin: 30px;
  padding: 50px;
}

.card-img {
  padding: 20px;
}

.card-desc {
  color: #0066c0;
}

.price {
  color: #b12704;
  font-size: 25px;
  font-family: sans-serif;
  margin-bottom: 0;
}

span {
  color: #b12704;
  font-size: 12px;
  font-family: sans-serif;
}
